.section-about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.about-wrapper{
  width: 90%;
  max-width: 500px;
  margin-left: 30px;
}

.about-subtitle{
 font-size: 2.8rem;
 letter-spacing: 0.2rem;
}

.paragraph-about{
  text-align: justify;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1.8rem;
  max-width: 95%;
}