
.menu-principal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto ;

  background-color: var(--cor-principal);
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header > h1 {
  margin-left: 20px;
  letter-spacing: 3px;
  font-size: 28px;
}

.logo-img{
  height: 60px;
  transition-duration: 100ms;
}

.logo-img:hover{
  transform: scale(1.15);
}

.header-link {
  color: #FFF;
  font-size: 24px;
  padding: 15px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.7s;
  
}

.header-link:hover {
  background-color: #FFF;
  color: var(--cor-principal);
}