.section-cta{
  margin-top: -10px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-principal);
}

.wrapper-cta{
  max-width: 50%;
  color: #FFF;
}

.cta-subtitle {
  font-size: 2.8rem;
}

.cta-call{
  text-align: justify;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1.8rem;
}

.cta-button{
  font-size: 3.2rem;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #FFF;
  color: var(--cor-principal);
  transition-duration: 400ms;
}

.cta-button:hover{
  transform: scale(1.2);
}